<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Angel Apps with AJS</title>
    <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--[if lt IE 9]>
       <script src = "http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->
</head>

<body>
  <div ng-app="firstApp">
    <div>
        <p>Name: <input type="text" ng-model="name"></p>
        <p>{{name}}</p>
        <h3>The below is AJ expression value!!</h3>
        <p>
          {{5 + 6}}
        </p>
    </div>

    <div ng-controller = "AddingDiv">
        <p>
          <input placeholder="Enter First Number " type="number" ng-model="num_one"  />
          &nbsp;&nbsp; + &nbsp;&nbsp;
          <input placeholder="Enter Second Number " type="number" ng-model="num_two"  />
          &nbsp;&nbsp; = &nbsp;&nbsp;
          {{ num_one + num_two }}
        </p>
    </div>
  </div>


      <script>
        var app = angular.module('firstApp', []);
        app.controller('AddingDiv', function($scope) {
            $scope.num_one = 2;
            $scope.num_two = 1;
        });
      </script>

</body>

</html>
